@using System.Security.Claims
@using EcoLefty.Domain.Common.Enums
@model EcoLefty.Application.Offers.DTOs.OfferDetailsResponseDto

@{
    ViewBag.Title = Model.Title;
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userIsOwner = currentUserId == Model.Company.Id;
}

<div class="offer-details-container">
    @if (userIsOwner)
    {
        <div class="action-icons">
            <a href="@Url.Action("Edit", "Offer", new { id = Model.Id })" class="edit-icon" title="Edit Offer">
                <i class="fa fa-edit"></i>
            </a>
            <a href="@Url.Action("Cancel", "Offer", new { id = Model.Id })" class="delete-icon" title="Delete Offer">
                <i class="fa fa-times"></i>
            </a>
            <a href="@Url.Action("Delete", "Offer", new { id = Model.Id })" class="delete-icon" title="Delete Offer">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    }

    <div class="offer-details-row">
        <div class="offer-image">
            <img src="@Url.Content("~/" + Model.Product.ImageUrl)" alt="@Model.Product.Name" class="product-image" />
        </div>

        <div class="offer-info">
            <h1 class="offer-title">@Model.Title</h1>
            <p class="offer-description">@Model.Description</p>
            <br />
            <p class="offer-status">
                <strong>Status: </strong>@Model.OfferStatus
            </p>
            <p class="offer-price">
                <strong>Price:</strong>
                <span class="old-price"><del>@Model.Product.DefaultPrice.ToString("C")</del></span>
                <span class="new-price ml-2">@Model.UnitPrice.ToString("C")</span>
            </p>
            <p class="offer-quantity">
                <strong>Quantity available: </strong>@Model.QuantityAvailable
            </p>
            <p class="offer-validity">
                <strong>Valid:</strong> @Model.StartDateUtc.ToString("MMMM dd, yyyy") - @Model.ExpiryDateUtc.ToString("MMMM dd, yyyy")
            </p>
            @if (Model.Categories != null && Model.Categories.Any())
            {
                <p class="offer-categories">
                    <strong>Categories: </strong> @string.Join(", ", Model.Categories.Select(c => c.Name))
                </p>
            }
            <div class="offer-company">
                <h3>Offered by</h3>
                <a href='@Url.Action("Profile", "Company", new { id = Model.Company.Id })' class="company-info-link">
                    <div class="company-info">
                        <img src='@Url.Content("~/" + Model.Company.LogoUrl)' alt='@Model.Company.Name' class="card-company-logo" />
                        <span>@Model.Company.Name</span>
                    </div>
                </a>
            </div>

        </div>
    </div>

    @if (User.IsInRole("User") && Model.OfferStatus == OfferStatus.Active)
    {
        <div class="purchase-section">
            <form asp-controller="Purchase" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="OfferId" value="@Model.Id" />
                <div class="my-field">
                    <label for="Quantity" class="required">Quantity</label>
                    <input id="Quantity" name="Quantity" type="number" min="1" max="@Model.QuantityAvailable" value="1" required />
                </div>
                <button type="submit" class="purchase-button">Purchase</button>
            </form>
        </div>
    }
</div>
